<ion-card color="dark">
	<ion-card-header>
		<ion-card-subtitle>
			<span class="text-primary">{{ index + 1 }}. </span>
			<span class="noticia-source-name">{{ noticia.source?.name }}</span>
			<div class="noticia-more">
				<ion-button fill="clear"
					color="light"
					(click)="lanzarMenu()">
					<ion-icon slot="icon-only"
						name="ellipsis-vertical"></ion-icon>
				</ion-button>
			</div>
		</ion-card-subtitle>
		<ion-card-title (click)="abrirNoticia()">
			{{ noticia.title }}
		</ion-card-title>
	</ion-card-header>
	<ion-img [src]="noticia?.urlToImage"
		(click)="abrirNoticia()"
		class="animated fadeIn fast"></ion-img>
</ion-card>
<ion-card-content>
	{{ noticia.content }}
</ion-card-content>