<ion-header class="ion-no-border">
	<ion-toolbar color="dark">
		<ion-title>
			Favoritos
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"
	color="dark">

	<ion-slides [options]="sliderOpts"
		*ngIf="dataLocalSrv.noticias.length === 0">
		<ion-slide>
			<ion-label>No hay favoritos</ion-label>
		</ion-slide>
	</ion-slides>

	<app-noticias *ngIf="dataLocalSrv.noticias.length > 0"
		[enFavoritos]="true"
		[noticias]="dataLocalSrv.noticias"></app-noticias>
</ion-content>